* ,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    scroll-behavior: smooth;
}
.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    /*padding: 2rem 4rem;*/
    padding: 1em 4em;
    
    


}
.nav-bar > #nav-links {
    display: flex;
    gap: 4rem;
    position: relative;
    
    

}
.nav-bar > #nav-links > a {
    color: white;
    text-decoration: none;
    /*font-size: 18px;*/
    font-size: 1.5rem;
    cursor: pointer;
    transition: 0.3 ease;
    
}

/*.nav-links > a:hover {
    color: coral;
    transition: all 2s ease;

}*/

.nav-bar > #nav-links > a.active,
.nav-bar > #nav-links > a:hover {
    color: coral;


}
.nav-bar > #nav-links > a.active::after,
.nav-bar > #nav-links > a:hover::after { 
    content: "";
    width: 55px;
    height: 2px;
    background: coral;
    position: absolute;
    bottom: -4px;
    left: 2px;
}

.kingsmurf {
    background-color: black;
    min-height: 90dvh;
    padding-bottom: 60px;
    /*margin-bottom: 1em;*/

}
.home-desc {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-top: 12rem;
    color: white;
}
.home-desc > img {
    /*width: 400px;
    height: 400px;
    border-radius: 5px;
    */
    width: 30rem;
    height: 30rem;
    border-radius: 2rem;
    padding-left: 1em;
    padding-bottom: 1em;;
}
.home-content {
    width: 50%;

}
.home-content > h1 {
    font-size: 3rem;
    /*margin-bottom: 3rem;*/
    margin-bottom: 0.7em; 
    width: 100%;
}
.name-style {
    color: coral;

}
.home-content > p {
    width: 80%;
    /*margin-bottom: 3rem;*/
    margin-bottom: 3.5em;
    line-height: 2em;
}

.home-content  > a > button {
    background-image: url("./Images/button.png");
    background-color: transparent;
    color: white;
    border: 0;
    cursor: pointer;
    /*padding: 1rem 4rem;
    margin-bottom: 5px;*/
    padding: 14px 80px 14px 65px;
    background-repeat: no-repeat;
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 1em;
}

.resume-part {
    background-color: white;
    /*background: linear-gradient(to left, #83a4d4 , #b6fbff);*/
    min-height: 100dvh;
    /*margin-top: 0;*/
    

}


.resume-part h1 {
    text-align: center;
    font-size: 3rem;
    /*margin-top: 8rem;*/
    margin-top: 1em;
}

.maldevs {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding-top: 2em;
    padding-bottom: 1em;
    /*padding-top: 4rem;
    padding-bottom: 2rem;*/
    color: black;
}
.creteria h2 {
    /*padding: 4rem;*/
    padding: 2.8em;
    text-decoration: underline coral;
}

.resume-desc {
    width: 50%;
    /*margin-top: 50px;*/
    margin-top: 3em;
    line-height: 2em;
   
    
}

.resume-desc h2 {
    /*margin-bottom: 1rem;
    margin-top: 1rem;*/
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}

.resume-desc p {
    font-size: 1rem;
}

.contact-section {
   min-height: 100dvh;
    margin-top: 80px;
    background-color: coral;
    /*position: relative;*/
}

/*.contact-section::after {
    content: '';
    //background: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
    background-color: coral;
    position: absolute;
    z-index: -1;
    inset: 0;
    transform: skewY(-5deg);

} */

.contact-section h1 {
    text-align: center;
    font-size: 3rem;
    margin-top: 1em;
    padding-top: 0.4em;
    /*margin-top: 8rem;
    padding-top: 40px;*/
}

.inputs-sect {
    margin-left: 7em;
    margin-top: 7em;
    /*margin-left: 100px;
    margin-top: 4rem;*/
}

.inputs-sect > a > button {
    background-color: transparent;
    color: black;
    border-radius: 999px;
    border: 1px solid black;
    cursor: pointer;
    /*padding: 1rem 4rem;
    margin-bottom: 5px;*/
    padding: 1em 4em;
    margin-bottom: 1em;


}



.inputs-sect  > a > button:hover {
    background-color: white;
    color: black;
    font-weight: bold;
}

